body{
  background-color: #cddda0;
}


.navbar {
  background-color: #bbd670;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: rgb(83, 117, 218);
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
}

.navbar ul li a:hover {
  text-decoration: underline;
  
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px; 
  margin-right: 800px; 
}

.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  list-style-type: none;
  padding: 0;
}

.restaurant-card {
  border: 1px solid #273706;
  padding: 10px;
  text-align: center;
  background-color: #62a822;
}

.restaurant-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.restaurant-card:hover{
  background-color: rgb(128, 172, 23);
  transform: scale(1.10);
}


.home{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:80vh;
  padding: 20px;
  text-align: center;

  
}

.home h1{
  font-size: 3rem;
  color:rgb(104, 165, 51);
  margin-bottom: 20px;
  font-family: 'Arial', 'sans-serif';
}
