 /* body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(202, 210, 171);
} 


.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: aliceblue;
  background-color: rgb(71, 84, 60);
  border: 0.3px solid rgb(80, 90, 74);
  border-radius: 5px;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.books {
  display: flex;
  flex-direction: column;
  width: 304px; 
  padding: 10px;
  margin: 5px;
  border: 3px dotted rgb(56, 82, 37);
  border-radius: 5px;
}


.books img {
  display: block;
  margin: auto;
  width: 100%; 
  object-fit: contain; 
}


.bookInfo {
  display: flex;
  flex-direction: column;
  height: 15%; 
  font-size: 12px; 
}


.button {
  display: flex;
  margin: 16px 80px; 
}


.singlebook {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 3px; 
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px; 
  margin-right: 800px; 
} */


/* @media only screen and (max-width: 600px) { 
  body {
    background-color: #bd7e3f;
  }
} */